@keyframes fadeIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInTech {
    from {
        transform: translateY(200%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes titleFadeIn {
    from {
        width: 0%;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes imageFadeIn {
    from {
        transform: scale(0) rotate(-360deg);
    }
    to {
        transform: scale(1) rotate(0);
    }
}

@keyframes projectFadeIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.project-container {
    width: 100%;
    height: 100vh;
}

.project-wrapper {    
    position: relative;
    max-width: var(--Max-Width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.project-list {
    display: none;
    height: 55vh;
    width: 100%;
    gap: 32px;
}

.project-title,
.project-main {
    width: 50%;
}

.project-main {    
    transform-origin: top;
    /* overflow: hidden;
    animation: projectFadeIn 1s ease; */
}

/* .project-name,
.project-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.project-name {
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    animation: fadeIn 0.8s ease;
}

.project-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    animation: fadeIn 1s ease;
    margin: 24px 0 12px 0;
}

.project-tech {
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 12px 0 24px 0;
}

.project-tech-item {
    font-size: 14px;
    font-weight: 500;
    color: var(--Primary-Active);
    background-color: var(--Primary-Bg);
    padding: 8px 16px;
    border-radius: 20px;
    animation: fadeInTech 1.2s ease;
    transition: all .2s ease;
}

.project-tech-item:hover {
    cursor: pointer;
    font-weight: 500;
    background-color: var(--Primary-Active);
    color: var(--Base-White);
    transform: scale(1.1);
}

.project-img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 16px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: fadeIn 0.6s ease;
}

.project-link {
    display: inline-flex;
    align-items: center;    
    animation: fadeIn 1.2s ease;
}

.project-link a {
    color: #FFF;
    text-decoration: none;
}

.project-link img {
    width: 32px;
    height: 32px;
}

.project-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
    border-radius: 12px;
    border: 3px solid var(--Base-White);
    animation: titleFadeIn 1s ease;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
}

/* .project-main img:hover {
    transition: all .2s ease;
    transform: scale(1.1);
} */

.project-active {
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .project-wrapper {
        width: 100%;
        padding: 0 16px;
    }
}

@media only screen and (max-width: 600px) {
    .project-wrapper {
        padding: 80px 16px;
        gap: 16px;
    }

    .project-container {
        height: auto;
    }

    .project-title,
    .project-main {
        width: 100%;
    }

    .project-list {
        gap: 16px;
        height: auto;
    }

    .project-active {
        flex-direction: column;
    }
}