.contact-wrapper {
    width: 100%;
    padding-top: 62px;
    /* background-color: var(--Primary-Bg); */
}

.contact-container {
    max-width: var(--Max-Width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.contact-info {
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--Primary-Border);
}

.contact-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 48px;
    transition: all .6s ease;
}

.contact-item:hover {
    cursor: pointer;
    background-color: var(--Primary-Bg);
}

.contact-item + .contact-item {
    border-left: 1px solid var(--Primary-Border);
}

.contact-top {
    display: flex;
    align-items: center;
    gap: 24px;
}

.contact-btn {
    width: 64px;
    height: 64px;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--Primary-Active);
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.contact-desc {
    font-size: 16px;
    font-weight: 500;
}

.contact-highlight {
    display: flex;
    padding: 80px 100px;
    border-radius: 8px;
    background-color: var(--Primary-Active);
    gap: 62px;
}

.contact-title,
.contact-me {
    flex: 1;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;;
}

.contact-button {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 14px 28px;
    background-color: var(--Primary-50);
    transition: all .2s ease;
}

.contact-button:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.input-label {
    color: var(--Primary-50);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.input,
.textarea {
    width: 100%;
    color: var(--Primary-Text);
    border: 1px solid var(--Primary-Border);
    background-color: var(--Primary-50);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding: 8px 16px;
    outline: none;
    resize: none;
}