.project-nav-list {
    position: absolute;
    bottom: 62px;    
    display: flex;
    align-items: center;
    border-radius: 99px;
    padding: 6px;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 6px 28px;
    background-color: var(--Primary-Bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.project-nav-item {
    cursor: pointer;
    border-radius: 99px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
}

.nav-slide {
    position: absolute;    
    top: 6px;
    bottom: 6px;
    border-radius: 99px; 
    background-color: var(--Base-White);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 3px 8px;
    z-index: -1;
    transition: all 0.6s ease;
}

@media only screen and (max-width: 600px) {
    .project-wrapper {
        flex-direction: column;
    }

    .project-nav-list {
        position: static;
    }

    .project-nav-item {
        text-align: center;
    }

    .project-wrapper {
        padding: 40px 16px;
    }
}