.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-wrapper {
    max-width: var(--Max-Width);
    text-align: center;
    height: var(--Height-Header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-active {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--Primary-Border);
}

.icon-logo {
    width: 48px;
    height: 48px;
}

.header-navbar {
    flex: 1;
}

.header-navbar ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-navbar li {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: var(--Gray-modern-900);
    font-weight: 500;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--Primary-Active);
}

.active {
    color: var(--Primary-Active);
    border-bottom: 2px solid var(--Primary-Active);
    font-weight: 600;
}

.header-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    
}

.social-logo {
    cursor: pointer;
    width: 28px;
    height: 28px;
}