@keyframes headerActive {
    from {
        border-width: 0px;
    }
    to {
        border-width: 1px;
    }
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-wrapper {
    max-width: var(--Max-Width);
    text-align: center;
    height: var(--Height-Header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header-active {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--Primary-Border);
    animation: headerActive 1s ease;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    font-size: 24px;
    font-weight: 700;
}

.header-logo p {
    cursor: pointer;
}

.header-logo span {
    color: var(--Primary-Active);
}

.icon-logo {
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 4px;
    background-color: var(--Primary-Active);
    border-radius: 8px;
}

.header-navbar {
    flex: 1;
}

.header-navbar ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header-navbar li {
    list-style: none;
}

.nav-item {
    text-decoration: none;
    font-weight: 600;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--Primary-Active);
}

.active {
    color: var(--Primary-Active);
    border-bottom: 2px solid var(--Primary-Active);
    font-weight: 600;
}

.header-social {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    
}

.social-logo {
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.btn-header {
    color: var(--Primary-Active);
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 14px 28px;
    background-color: none;
    border: 1px solid var(--Primary-Active);
    transition: all .2s ease;
}

.btn-header:hover {
    color: #FFF;
    cursor: pointer;
    transform: scale(1.06);
    background-color: var(--Primary-Active);
}