@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Preahvihear&display=swap');

:root {
    --Max-Width: 1200px;
    --Width-SlideBar: 280px;
    --Height-Header: 70px;
    --Height-Footer: 60px;

    --Base-White: #fff;
    --Base-Black: #000;

    --Light-Text: #121926;
    --Dark-Text: #FCFCFD;
    --Light-Background: #FCFCFD;
    --Dark-Background: #000;

    /* --Primary-Active: #F75300; */
    --Primary-Active: #EF6D58;
    --Primary-Border: #F3D1BF;
    --Primary-Bg: #FDF0E9;

    --Primary-Text: #391400;

    --Primary-50: #F8F8F6;
    --Primary-100: #C3C4C8;
    --Primary-200: #939498;
    --Primary-300: #575965;

    --Gray-modern-25: #FCFCFD;
    --Gray-modern-50: #F8FAFC;
    --Gray-modern-100: #EEF2F6;
    --Gray-modern-200: #E3E8EF;
    --Gray-modern-300: #CDD5DF;
    --Gray-modern-400: #9AA4B2;
    --Gray-modern-500: #697586;
    --Gray-modern-600: #4B5565;
    --Gray-modern-700: #364152;
    --Gray-modern-800: #202939;
    --Gray-modern-900: #121926;

    --Success-50: #ECFDF3;
    --Success-200: #ABEFC6;
    --Success-500: #17B26A;
    --Success-600: #079455;
    --Success-700: #067647;

    --Warning-200: #FEDF89;
    --Warning-400: #FDB022;
    --Warning-500: #F79009;
    --Warning-700: #B54708;

    --Error-50: #FEF3F2;
    --Error-200: #FECDCA;
    --Error-500: #F04438;
    --Error-600: #D92D20;
    --Error-700: #B42318;

    --Blue-indigo-50: #EEF4FF;
    --Blue-indigo-200: #C7D7FE;
    --Blue-indigo-500: #6172F3;
    --Blue-indigo-600: #444CE7;
    --Blue-indigo-700: #3538CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: Arial;
    font-family: "Inter", sans-serif; */
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeSpeed;
    color-scheme: light dark;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    gap: 24px;
    background-color: var(--Primary-50);
    color: var(--Primary-Text);
    /* color: var(--Gray-modern-900); */
}